@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Roboto Slab", serif;
  font-weight: 500;

  scrollbar-width: thin;
  scrollbar-color: var(--themeColorMain) var(--secondaryBgColor);
}
/* Global settings */

:root {
  --mainBgColor: rgba(20, 20, 31, 11);
  --secondaryBgColor: rgba(27, 27, 39, 1);
  --borderColor1: rgba(40, 41, 57, 1);
  --borderColor2: rgba(79, 86, 105, 1);
  --textColorMain: #fff;
  --textColorSecondary: rgb(226, 227, 232);
  --themeColorMain: rgba(219, 26, 90, 1);
  --themeColorSecondary: #386fd2;
  --shadow: 0px 10px 39px 8px rgba(0, 0, 0, 0.3);
}

body {
  background-color: var(--mainBgColor);
  color: var(--textColorMain);
  width: 100%;
  height: 100%;

  /* background: #000000;
  --gap: 5em;
  --line: 1px;
  --color: rgba(255, 255, 255, 0.2);

  background-image: linear-gradient(
      -90deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    ),
    linear-gradient(
      0deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    );
  background-size: var(--gap) var(--gap); */
}

/* WebKit Browsers */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--secondaryBgColor);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--themeColorMain);
  border-radius: 10px;
  border: 2px solid var(--secondaryBgColor);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--themeColorSecondary);
}

a {
  color: #40e0d0;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  box-shadow: var(--shadow);
}
.controls {
  margin: 20px;
}

.controls button,
.controls select {
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
}

/* Login & Register Pages */

.auth--container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form--wrapper {
  width: 600px;
  width: 600px;
  padding: 2em;
}

.field--wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0.5em 0;
}

.password--span {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Form Input Styling */

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  background: var(--mainBgColor);
  border: none;
  border-bottom: 1px solid var(--borderColor1);
  padding: 1rem;
  border-radius: 3px;
  width: 100%;
  color: var(--color-light);
  outline: none;
  font-size: 18px;
  text-shadow: none !important;
  resize: none;
}
textarea {
  width: 80%;
  overflow: auto;
}
/* Button Styling */

.btn {
  padding: 0.5em 1em;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: var(--shadow);
}

.btn--lg {
  padding: 1em 2em;
}

.btn--main {
  background-color: rgba(219, 26, 90, 1);
  color: #fff;
}

/* .btn--secondary {
  background-color: #8db3dd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
} */

.btn:hover {
  opacity: 0.7;
}

/* Header Styling */

#header--wrapper {
  background-color: var(--mainBgColor);
  padding: 1em;
  display: flex;
  justify-content: space-between;
  border-radius: 10px 10px 0 0;
  border: 1px solid var(--borderColor1);
  border-bottom: none;
}

.header--link {
  color: #c7d8eb;
  cursor: pointer;
  transition: 0.3s;
}

.header--link:hover {
  color: #8db3dd;
}

/* Room Styling */

.room--container {
  padding: 1em;
  background-color: var(--secondaryBgColor);
  border-radius: 0 0 10px 10px;
  border: 1px solid var(--borderColor1);
}
#message--form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.Category--Messages--Text--Span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10dvh;
}
.messages--container {
  overflow: scroll;
  max-height: 100dvh;
  box-shadow: inset var(--shadow);
  border-radius: 5px;
  overflow: auto;
}
.Message--Send--Container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1pc;
}
.send-btn--wrapper {
  display: flex;
  justify-content: flex-end;
}

.btn--secondary {
  font-size: 15px;
  background: royalblue;
  color: white;
  padding: 0.5em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}
.btn--secondary.sendingMessage {
  font-size: 10px;
}
.btn--secondary span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.btn--secondary svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.btn--secondary.sendingMessage .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.btn--secondary.sendingMessage svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.btn--secondary.sendingMessage span {
  transform: translateX(5em);
}

.btn--secondary:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

.message--wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.5em;
  margin: 1em;
}

.message--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message--body {
  padding: 0.5em 0;
  color: var(--textColorSecondary);
  background-color: var(--themeColorMain);
  padding: 1em;
  border-radius: 20px;
  width: fit-content;
  max-width: 100%;
  word-wrap: break-word;
  font-weight: 300;
}
.message--body--owner {
  border: 1px solid rgba(219, 26, 90, 1);
  background-color: var(--secondaryBgColor);
}

.message-timestamp {
  margin-left: 1em;
  color: rgb(164, 161, 161);
}
.Edit--Delete--Icons--Span {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80px;
}
.delete--btn,
.edit--btn {
  color: #8db3dd;
  cursor: pointer;
  transition: 0.3s;
  width: 16px;
}
.edit--btn:hover {
  color: var(--themeColorSecondary);
}
.delete--btn:hover {
  color: red;
}
.Eye {
  cursor: pointer;
}
.LikedBY > ul {
  overflow: auto;
  max-height: 50dvh;
}
.LikedBY > ul > li {
  font-size: clamp(0.7rem, 1.2069rem + -1.0345vw, 0.625rem);
}
.Show--More--Btn {
  cursor: pointer;
  font-size: clamp(0.7rem, 1.2069rem + -1.0345vw, 0.625rem);
  background: none;
  border: none;
  outline: none;
  text-decoration: underline;
  color: blueviolet;
}